
      {% extends 'core/base.html' %}
      {% load static %}
      
      {% block content %}
      
  <div class="container-fluid">

    <!-- cuerpo de la pagina -->
    <div class="row">
      <div class="col-12">
        <!-- titulo -->
        <h1>Ficha de Producto</h1>


        <!-- productos -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-3">
              <img width="100%" height="300" class="producto" src="{% static 'core/img/Imagen4.png' %}" alt="">
            </div>
            <div id="texto" class="col-9  Descripcion"> <br>

              <b class="titulo-producto">Belcando Mastercraft Topping</b> <br>
              <b class="estado-producto">DISPONIBLE</b> <br>
              <b class="precio-producto">$3.490</b> <br>
              Descripción : <br> <br>

              Sobre 100mg, Producto para perro <br> <br>
              En stock: 2 unidades <br><br>
              <button type="submit" class="btn btn-primary">Comprar ahora</button>
              <button type="submit" class="btn btn-primary">Agregar al carrito</button>
            </div>

          </div>
        </div>
      </div>
      {% endblock content %}